
.u-container-header{
    display: flex !important;
    align-items: center;
    margin: 0 auto;
	justify-content: space-between;
	position: relative;
	padding: .5em 0;
}
.e-logo-header{
	width:7em;
}

.form-vertical{
	display:flex;
	align-items: center;
	justify-content: center;
}

.e-input-search{
	flex-grow: 1;
	margin-right: 1em;
	border-radius: 0 10px 10px 0 !important;
    min-height: 49px;
}

.e-btn-search{
	position: relative;
    min-height: 50px;
	font-weight: bold;
	padding: 0 1.3em  !important;
}

.e-container-login{
	width: 85vw;
}

.select-search {
	background-color: transparent;
	padding: .8em 5.8em .8em 1em;
	border-radius: 10px 0 0 10px;
    color: white;
}

.e-search-component{
	width: 80%;
    margin: auto;
	margin-bottom: 1em;
	font-family: Arial;
}

.e-container-select{
	background-color: #2f7748;
	color:white;
	padding: .19em 0;
	position:relative;
}
.e-icon-arrow{
	position: absolute;
    top: .7em;
	pointer-events: none;
	right: 1em;
}
@media (max-width: 840px) {
	.e-search-component{
		width:100%;
		flex-direction: column;
	}
}
@media (max-width:1140px){
	.u-container-header{
		padding: 1em;
		border-bottom: 1px solid gray;
	}
}

.u-link{
	margin-top: 20px;
	display: flex;
	justify-content: center;
	width: fit-content;
	align-items: center;
	margin: 0 auto;
}

.e-resume-label{
	color:#00964b;
	font-weight:bold;
	flex-basis:60%;
}

.e-resume-value{
	font-size: 1em;
	font-weight: normal;
}

.e-icon-table{
	position: absolute;
	top: -16px;
}

.e-icon-table-inverse{
	top: initial;
	bottom:-16px;
	transform: rotate(180deg);
}

.e-filter-container-search{
	width: 100%;
	max-width: 225px;
	margin: 2em 0;
	justify-content: flex-end;
}

.react-datepicker-wrapper {
	width:100%;
}

.react-datepicker-wrapper input {
	font-size: 18px;
	padding: 10px;
	display: block;
	width: 100%;
	min-height: 50px;
	background-color: transparent;
	border: 1px solid #34AC5D;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	border-radius: 10px;
}

.rt-table .btn-white {
	border: none;
	background: none;
	color: #34AC5D;
	margin: 0 5px;
	cursor: pointer;
}

.rt-table  a {
	color: #34AC5D;
		margin: 0 5px;

}
.ReactModalPortal .svg-inline--fa {
	border: none;
	background: none;
	font-size: 2em;
	position: absolute;
	right: 01em;
	top: 1em;
	cursor: pointer;
}
.ReactModal__Content--after-open .closeModal {
	border: none;
	background: none;
}
.u-element-wrap {
	width: 100% !important
}