
@font-face {
  font-family: 'Brevia';
  src: local('Brevia'), url(./../../../assets/fonts/Brevia-Regular.woff) format('woff');
}

@font-face {
    font-family: 'Brevia';
	src: local('Brevia'), url(./../../../assets/fonts/Brevia-Bold.woff) format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Brevia';
	src: local('Brevia'), url(./../../../assets/fonts/Brevia-Black.woff) format('woff');
    font-weight: 900;
    font-style: normal;
}
