
/* Active Class */

.active-row {
	border-left: 5px solid #5FA2F0;
}

.inactive-row {
	border-left: none;
}

/* React Table */

.ReactTable {
	color: #56606D !important;
	margin-bottom: 3em;
	border: none !important;
	position: relative;
}

.rt-table {
	border: 1px solid #C9CCD5 !important;
	background-color: white;
}

/* Head */

.ReactTable .rt-thead .rt-th {
	border-right: none !important;
	font-weight: normal;
	font-family: Arial;
	display:flex;
	justify-content: center;
	align-items: center;
	padding: 15px .5em !important;
	text-align: left;
	white-space: pre-line !important;
	background-color: #ffd000;
	font-size: 1.1em;
	padding: 10px;
	color: #00964b;
	border-right: 1px solid #ffffff !important;
	text-align:center;
}


/* Body */

.ReactTable .rt-tbody .rt-td {
	border-right: none !important;
	padding: 10px 5px !important;
	font-size: 1em;
	font-family: Arial;
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
	white-space: inherit !important;
	padding: 7px 5px;
}

/* .ReactTable .rt-thead .rt-th {
	flex: 1 0 auto !important;
	max-width: 120px !important;
	width: 100% !important;
	min-width: 80px !important;
}

.ReactTable .rt-tbody .rt-td{
	flex: 1 0 auto !important;
	max-width: 120px !important;
	width: 100% !important;
	min-width: 80px !important;
}
 */
.ReactTable .rt-tr-group .rt-tr {
	border-bottom: 1px solid #a4a4a4 !important;
	cursor:pointer;
}

.ReactTable .-pagination .-pageSizeOptions {
	display: none;
}

.ReactTable .pagination-bottom {
	padding-top: 2em;
}

.ReactTable .pagination-bottom .-pagination {
	box-shadow: none;
	border-top: none;
	justify-content: center !important;
}

.ReactTable .-pagination {
	justify-content: center !important;
	align-items: center !important;
}

.ReactTable .pagination-bottom .-pagination .-btn {
	color: transparent;
}

.ReactTable .-pagination .-previous, .-next, .-center {
	flex: none !important;
}

.ReactTable .-pagination .-btn:not([disabled]):hover {
	color: transparent !important;
}

.ReactTable .-pagination .-btn[disabled] {
	cursor: not-allowed !important;
}

.ReactTable .-pagination .-btn {
	width: 40px !important;
	height: 40px !important;
	background-color: transparent !important;
}

.ReactTable .-pagination .-previous .-btn:before {
	font-family: FontAwesome;
	content: '\f053';
	color: #5FA2F0;
	font-size: 1.5em;
}

.ReactTable .-pagination .-next .-btn:before {
	font-family: FontAwesome;
	content: '\f054';
	color: #5FA2F0;
	font-size: 1.5em;
}

.ReactTable .border-detail {
	border-bottom: 1px solid #C9CCD5 !important;
}

.ReactTable .rt-noData {
	right: 0;
    bottom: 0;
	width: 100%;
	z-index: 0 !important;
	pointer-events: auto !important;
	background-color: #F5F6F7 !important;
}

.ReactTable .rt-noData .gray-background {
	background: #F5F6F7 !important;
	display: flex;
	justify-content: center;
}
