.u-hidden {
	display: none !important
}

.u-block {
	display: block !important
}

.u-inline-block {
	display: inline-block
}

.u-textCenter {
	text-align: center !important
}

.u-textLeft {
	text-align: left !important
}

.u-textRight {
	text-align: right !important
}

.u-floatLeft {
	float: left !important
}

.u-floatRight {
	float: right !important
}

.u-cf {
  overflow: auto;
}

.u-normalWeight {
	font-weight: normal;
}

.u-boldWeight {
	font-weight: bold;
}

.u-centerBlock {
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.u-mr5 {
	margin-right: 5px !important
}
.u-mr10 {
	margin-right: 10px !important
}
.u-mt5 {
	margin-top: 5px !important
}
.u-mt10 {
	margin-top: 10px !important
}
.u-mt20 {
	margin-top: 20px !important
}
.u-mt30 {
	margin-top: 30px !important
}
.u-mb15 {
	margin-bottom:15px !important
}
.u-mb20 {
	margin-bottom:20px !important
}
.u-mb30 {
	margin-bottom: 30px !important
}

.u-mt40 {
	margin-top: 40px !important
}

.u-mb40 {
	margin-bottom: 40px !important
}

.u-mt60 {
	margin-top: 60px !important
}

.u-mb60 {
	margin-bottom: 60px !important
}
.u-flex-between{
	justify-content: space-between;
}
.u-flex-center{
	display: flex;
    align-items: center;
}
.u-flex-around{
	justify-content: space-around;
}
.u-flex-evenly{
	justify-content: space-evenly;
}

.u-flex-column{
	flex-flow: column;
}

.u-flex-row{
	flex-flow: row;
}
.u-position-fixed{
	position:fixed !important;
}
.u-fixed{
	position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.u-padding-10{
    padding: 10px;
}

.u-padding-20{
	padding: 20px;
}
.u-p-lr-40{
	padding: 20px 40px
}


.u-ellipsis{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.u-relative{
	position: relative;
}
.u-absolute{
	position: absolute;
}
